@model IEnumerable<ShopBridge.Model.Item>

    <div class="row">
        <div class="col-lg-6">
            <h4>Add Item</h4>
        </div>
        <div class="col-lg-6">
            <h4>Items List</h4>
        </div>
    </div>


<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-6">

        @{Html.RenderPartial("AddItem", new ShopBridge.Model.Item());}
    </div>

   
    <div class="col-lg-6 list">
        
        <div class="" id="tblDiv">

            @{Html.RenderPartial("_ItemList", Model);}

        </div>
    </div>
</div>

<script>

    $(function () {

        $(document).on("click", ".btnDelete", function () {
            $.ajax({
                url: $(this).attr("data-href"),
                type: 'Post',
                data: { id: $(this).attr("id") },
                success: function (data) {
                    if (data == 'success') {
                        GetList();
                    }
                    else {
                        alert('Something went wrong!')
                    }

                }
            });
        });


    });

    function GetList() {
            $.ajax({
                url: '@Url.Action("GetAllItems", "Item")',
                type: 'GET',
                data: '',
                success: function (data) {
                    if (data) {
                        $('#tblDiv').html(data);
                    }

                }
            });
        }
</script>